**/*.MetaData
**/*.json
**/*.*.bak
**/*.csv
**/*.html
**/*.txt
**/*.states
**/*.positions
**/*.nextpkg
**/*.nextpkg
.agents/
Install/
Library-2024-12-11/**/*.*
Logging/*.*
Templates/
HandheldFunctionKeys/


